
.welcome-header {
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title {
    margin-bottom: 20px;
    font-size: 25px;
}

.welcome-header__text {
    width: 60%;
    opacity: 0.7; 
}


/* (중요) 위 welcome-header과 같이 BEM 스타일로 작성하는 방법과 아래 login-form 스타일로 작성하는 방법
두 가지 중에 선택하면 됨.

- 다만, BEM 스타일로 하는 경우 불필요한 반복을 줄일 수 있음 */

#login-form {
    display: flex;
    flex-direction: column; 
    margin: 0px 30px;
}

#login-form input {
    border: none;
    padding:15px 0px;
    font-size: 18px;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.2); */
    margin-bottom: 25px;
    transition: border-color 0.3s ease-in-out;
}

#login-form input:not([type="submit"]){ /* [] 내부: attribute selector */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
}


#login-form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
    border-color:var(--yellow); /*log in, sign up은 안바뀌도록 수정해야 함*/
}

#login-form input[type="submit"] {
    background-color: var(--yellow);
    cursor: pointer; 
    padding: 20px 0px;
    border-radius: 5px;
}

#login-form a{
    text-align: center;
    text-decoration: none;
    color: inherit; /* 색상을 부모로부터 상속받음:검정 */
    font-size:13px;
}